body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #3498db;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.shapes {
    display: flex;
    justify-content: space-around;
}

.shape {
    width: 45%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.shape h2 {
    font-size: 24px;
    color: #3498db;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.calculator label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.calculator input[type="number"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.calculator select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.calculator button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.calculator button:hover {
    background-color: #1c6ea4;
}

.result {
    margin-top: 20px;
}

.result p {
    font-size: 18px;
}
